{% extends "carpool/loggedin.html" %}

{% block header %}
	<h2>Home page</h2>
{% endblock %}

{% block content %}
	
	<h3> Rides Accepted </h3>
	<div class="box center">
        {% for request in requests_accepted %}
        <div class="request">
            <h4>{{request.name}}</h4>
            
            <p>
                Pick Up: {{request.from_location}}<br>
                Destination: {{request.to_location}}<br>
                Date: {{request.datetime}}
            </p>
            <p>
                {{request.description}}
            </p>
            <a href="{% url 'picked_request' request.id %}"><button class="button">Picked Up</button></a>
        </div>
        {% endfor %}
    </div>

    <h3> Rides In Progress </h3>
	<div class="box center">
        {% for request in requests_progress %}
        <div class="request">
            <h4>{{request.name}}</h4>
            
            <p>
                Pick Up: {{request.from_location}}<br>
                Destination: {{request.to_location}}<br>
                Date: {{request.datetime}}
            </p>
            <p>
                {{request.description}}
            </p>
            <a href="{% url 'complete_request' request.id %}"><button class="button">Completed</button></a>
        </div>
        {% endfor %}
    </div>

    <h3> Rides Completed </h3>
	<div class="box center">
        {% for request in requests_completed %}
        <div class="request">
            <h4>{{request.name}}</h4>
            
            <p>
                Pick Up: {{request.from_location}}<br>
                Destination: {{request.to_location}}<br>
                Date: {{request.datetime}}
            </p>
            <p>
                {{request.description}}
            </p>
        </div>
        {% endfor %}
    </div>

<!-- <div class="blob-box">
	<div id="blob-1"></div>
</div>
<div class="fullscreen-box">
	<div class="flex-center">
		<h1>Take a Quiz!</h1>
		<h5>Quizapp consists of many quizzes of different category and difficulty. Head on over to check out what quizzes we have in store for you and challenge yourself to beat <em>all</em> the high scores!</h5>
		<br>
		<button type="submit" class="button">Play Now</button>
	</div>
</div>
<div class="blob-box">
	<div id="blob-2"></div>
</div>
<div class="fullscreen-box">
	<div class="flex-center">
		<h1>Create Your Own Quizzes!</h1>
		<h5>Can't find a quiz that you like? No worries! You can head over to our quiz creation page to create your very own quizzes!</h5>
		<br>
		<button type="submit" class="button">Create Now</button>
	</div>
</div>
<div class="blob-box">
	<div id="blob-3"></div>
</div>
<div class="fullscreen-box">
	<div class="flex-center">
		<h1>Make Quizapp <em>Better!</em></h1>
		<h5>Help us make Quizapp better by sparing some change! With the money, we hope to partner with cooler organisation to bring you guys high quality content!</h5>
		<br>
		<button type="submit" class="button">Donate Now</button>
	</div>
</div> -->
{% endblock %}
