/* Base Styling */

html {
	background-image: linear-gradient(to bottom, rgba(162,233,255,0.3), rgba(255,255,0,0.2));
	min-height: 100vh;
}

.page {
	width: 90%;
	margin: auto;
	margin-top: 20px;
}

input {
	background-color: transparent;
}

textarea {
	background-color: transparent;
}

.box {
	margin-bottom: 20px;
}

.flex-box {
	display: flex;
	justify-content: space-between;
}

.question-box {
	margin-top: 5vh;
	width: 80%;
	margin-left: 10%;
}

.question-box a {
	margin-bottom: 30px;
}

.link-formset {
	margin-bottom: 50px;
}

.center {
	display: flex;
	flex-wrap: wrap;
}

.is-navbar-container {
	margin-bottom: 40px
}

#left-nav {
	text-align: right;
}

.bold {
	font-weight: bold;
}

button {
	margin-top: 10px;
}

/* Create Page Styling */

.is-logo {
	color: black;
}

.circle {
	background-color: #f1f1f1;
	width: 250px;
	height: 250px;
	margin: 20px;
	border-radius: 50%;
	text-align: center;
}

.circle img {
	position: relative;
	top: 15%;
	width: 70%;
}

.circle-crop{
	width: 250px;
	height: 250px;
	padding: 30px;
	border-radius: 100%;
	object-fit: cover;
}

/* Play Page Styling */

/* Style the tab */
.tab {
  float: left;
  background-color: #f5f5f5;
  width: 80%;
  padding: 22px 20px;
}

.tab a {
	font-size: 1em;
	display: block;
	width: 100%;
	cursor: pointer;
	margin-bottom: 10px;
}

/* Data Table Styling */

table.dataTable thead th, table.dataTable thead td {
    padding: 20px 30px;
    border-bottom: 0px;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 15px 20px;
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-top: 0px;
}

/* Changing Color of Table Rows */
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
	background-color: white;
}

table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.even{
	background-color: white;
}

table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
	background-color: white;
}

table.dataTable.display {
	border: 3px solid #f5f5f5;
	margin-top: 50px;
}

table.dataTable.display th{
	border-bottom: 3px solid #e3e3e3;
	background-color: #f5f5f5;
}

table.dataTable.display td:not(:last-child){
	border-right: 2px solid #f5f5f5;
}


.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	color: #0c3dd7 !important;
	border: 2px solid #0c3dd7;
	border-radius: 5px;
	background: none;
}

.dataTables_wrapper .dataTables_info {
	padding-top: 2em;
}

.dataTables_wrapper .dataTables_paginate {
	padding-top: 1.5em;
}

.dataTables_wrapper .dataTables_length {
    width: 50%;
}

.dataTables_wrapper .dataTables_filter {
	width: 50%;
}

/*Blobs*/

[id^=blob]::before
{
	z-index: -100;
	content: '';
	/*display: block;*/
	width: 80%;
	height: 60vh;
	max-width: 1000px;
	box-shadow: inset 0px -20px 100px rgba(255, 255, 255, 0.6);
	transform-origin: 50% 50%;
	transform-style: preserve-3d;
	perspective: 1000px;
	transform: translate(-50%, -50%);
}

#blob-1::before {
	position: absolute;
	top: 55%;
	left: 50%;
	background: linear-gradient(
	            270deg,
	            #43E97B,
	            #38F9D7,
	            #E0C3FC,
	            #8EC5FC,
	            #4FACFE,
	            #00F2FE,
	            #A8EDEA,
	            #FED6E3
	          );
	background-size: 1600% 1600%;
	animation: 
		transform 50s ease-in-out infinite both alternate,
		shade 60s linear infinite both;

}

#blob-2::before {
	position: absolute;
	top: 135%;
	left: 50%;
	background: linear-gradient(
	            270deg,
	            #E4D5FC,
	            #FFCEF6,
	            #FFC8DA,
	            #FFCDAE,
	            #FFDF84,
	            #F9F871,
	            #C3DBBA,
	            #AAEBEA
	          );
	background-size: 1600% 1600%;
	animation: 
		transform 20s ease-in-out infinite both alternate,
		shade 60s linear infinite both;

}

#blob-3::before {
	position: absolute;
	top: 215%;
	left: 50%;
	background: linear-gradient(
	            270deg,
	            #FFC6C6,
	            #D8A9B9,
	            #AC8FA9,
	            #7E7793,
	            #AC8FA9,
	            #D897AE,
	            #FFA2A2,
	            #FFB68B,
	            #FFD475,
	            #F9F871
	          );
	background-size: 1600% 1600%;
	animation: 
		transform 5s ease infinite both alternate,
		shade 10s linear infinite both;

}


/*@keyframes transform
{
    0%,
  100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
   14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
   28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
   42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
   56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
   70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
   84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}*/

@keyframes transform
{
    0%,
  100% { border-radius: 49% 51% 51% 49% / 46% 47% 53% 54%	} 
  	7% { border-radius: 36% 64% 39% 61% / 40% 52% 48% 60% } 
   14% { border-radius: 36% 64% 18% 82% / 40% 66% 34% 60% }
   21% { border-radius: 30% 70% 24% 76% / 30% 43% 57% 70% } 
   28% { border-radius: 30% 70% 48% 52% / 47% 51% 49% 53% }
   35% { border-radius: 63% 37% 68% 32% / 47% 59% 41% 53% } 
   42% { border-radius: 76% 24% 68% 32% / 67% 33% 67% 33% }
   49% { border-radius: 52% 48% 51% 49% / 41% 56% 44% 59% } 
   56% { border-radius: 76% 24% 68% 32% / 67% 33% 67% 33% }
   63% { border-radius: 63% 37% 68% 32% / 47% 59% 41% 53% } 
   70% { border-radius: 30% 70% 48% 52% / 47% 51% 49% 53% }
   77% { border-radius: 30% 70% 24% 76% / 30% 43% 57% 70% } 
   84% { border-radius: 36% 64% 18% 82% / 40% 66% 34% 60% } 
}

@keyframes movement
{
    0%,
  100% { transform: none; }
   50% { transform: translateY(20%) rotateY(10deg); }
}

@keyframes shade
{
    0%,
  100% { background-position: 0% 10%; }
   50% { background-position: 40% 20%; }
}

@use autoprefixer(
  browsers: "> 3%"
);

/*Full Screen Box*/
.fullscreen-box {
	height: 80vh;
	width: 100%;
	border: 5px solid #fcfcfc;
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-center {
	text-align: center;
	max-width: 50%;
}

/* Request Page */

.request {
	/*width: 25%;*/
	min-width: 300px;
	margin: 20px;
	padding: 30px;
	background-color: rgb(255, 255, 255, 0.8);
	border-radius: 10px;
}

/*Profile Page*/

input[type="file"] {
	width: 100%;
}

.review {
	background-color: rgb(255, 255, 255, 0.8);
	margin: 20px 0px;
	padding: 10px;
	justify-content: space-between;
}